{{ define "main" }}
<h1>{{.Title}}</h1>
{{ range .Data.Terms.ByCount }}
<ul>
  <li>
    <a href="{{.Page.RelPermalink}}">{{.Page.Name}}</a>
    <span class="block md:float-right">{{.Count}} {{if eq .Count 1}}Post{{else}}Posts{{end}}</span>
  </li>
</ul>
{{ end }}

{{ end }}
