{{define "main"}}
<h1>{{.Title}}</h1>
<article class="mt-1 text-sm">
{{.Content}}
</article>

    <div class="space-y-2 divide-y-2 divide-slate-400 dark:divide-slate-700">
      {{ range .Pages }}
      <div class="p-3 text-sm">
        <h1>{{.Title}}</h1>
        <span class="text-bold">Tagged: </span>
        {{ range .Params.Tags }}
        {{ $tag := . }}
        <span><a href="/tags{{ urlize . | relURL}}">#{{lower $tag}}</a></span>
        {{ end }}
      </div>
      {{ end }}
    </div>
{{ end }}
