<header class="z-10 items-center text-gray-800 bg-gray-200 dark:bg-navy-700 dark:text-gray-200 grid-in-header">
    <div class="flex items-center justify-between h-[52px] 2xl:h-[62px]">
        {{/* Mobile Sidebar Toggle */}}
        <button class="justify-start h-full p-3 2xl:p-4 lg:hidden hover:bg-gray-400 dark:hover:bg-gray-700"
            x-on:click="toggleSidebar();">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd" />
            </svg>
        </button>
        <nav class="items-center hidden h-full space-x-3 lg:flex">
                {{ $currentPage := .}}
                {{ range .Site.Menus.main }}
                {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .)
                ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.RelPermalink .URL)) }}
                {{ if .HasChildren}}
                <div class="relative inline-block h-full items-center p-3 2xl:p-4 hover:bg-gray-400 dark:hover:bg-navy-600 {{if $active}}border-b-2 border-royal-600 dark:border-royal-400{{end}}"
                    x-data="{ open: false }">
                    <a @click="open = !open" class="flex items-center">
                        <span>
                            {{.Name}}
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mt-1 ml-0.5 transform"
                            viewBox="0 0 20 20" fill="currentColor" :class="{'rotate-180': open}">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <div class="absolute mt-2 bg-gray-200 rounded shadow-xl l-0 dark:bg-gray-800 w-36" x-show="open"
                        x-transition:enter="transition-transform transition-opacity ease-out duration-200"
                        x-transition:enter-start="opacity-0 transform -translate-y-2"
                        x-transition:enter-end="opacity-100 transform translate-y-0"
                        x-transition:leave="transition ease-in-out duration-200"
                        x-transition:leave-end="opacity-0 transform -translate-y-3">
                        {{ range .Children }}
                        <a href="{{.URL}}"
                            class="block px-2 py-1 hover:text-royal-600 dark:hover:text-royal-400">{{.Name}}</a>
                        {{ end }}
                    </div>
                </div>
                {{ else }}
                <a href="{{.URL}}"
                    class="block h-full p-3 2xl:p-4 transition duration-100 hover:bg-gray-400 dark:hover:bg-navy-600 {{if $active}}border-b-2 border-royal-600 dark:border-royal-400{{end}}">{{.Name}}</a>
                {{ end }}
                {{ end }}
            </nav>

        <div class="flex items-center h-full my-auto space-x-4">
            <button class="h-full p-4 hover:bg-gray-400 dark:hover:bg-gray-700" @click="darkMode = !darkMode">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
                </svg>
            </button>

            <button class="h-full p-4 lg:hidden hover:bg-gray-400 dark:hover:bg-gray-700" @click="toggleMobileMenu();">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </div>
     <div id="mobile-menu" class="hidden h-full text-right lg:hidden">
         {{ range .Site.Menus.main }}
         {{ if .HasChildren }}
         <div x-data="{open: false}">
             <a class="flex items-center text-sm text-right px-3 py-2 hover:text-royal-600 dark:hover:text-royal-400 transform" x-on:click="open = !open">
                 <span class="text-right w-full">{{.Name}}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mt-0.5 transform" viewbox="0 0 20 20" fill="currentColor" :class="{'rotate-90': open}">
                      <path fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z">
                      </path>
                  </svg>
             </a>
             <div x-show="open"
                 x-transition:enter="transition-transform transition-opacity ease-out duration-200"
                 x-transition:enter-start="opacity-0 transform -translate-y-2 duration-200"
                 x-transition:enter-end="opacity-100 transform translate-y-0 duration-200"
                 x-transition:leave="transition ease-in-out duration-200"
                  x-transition:leave-end="opacity-0 transform -translate-y-2 duration-200">
                 {{ range .Children }}
                 <a href="{{.URL}}" class="block px-4 py-2 text-sm text-right hover:text-royal-600 dark:hover:text-royal-400">{{.Name}}</a>
                 {{ end }}
             </div>
         </div>
         {{ else }}
         <a href="{{.URL}}" class="block px-4 py-2 text-sm hover:text-royal-600 dark:hover:text-royal-400">{{.Name}}</a>

         {{ end }}
         {{ end }}
     </div>

</header>
