{{ define "main" }}
<h1>{{.Title}}</h1>
  {{ range .Data.Terms.ByCount }}
<ul>
  <li>
    <a href="{{.Page.Permalink}}">{{.Name}}</a>
    <span class="text-sm block md:float-right">
      {{ $count := .Count }}
      {{.Count}}
      {{ if eq 1 $count }}
      Post
      {{ else }}
      Posts
      {{end}}
    </span>
  </li>
</ul>
  {{ end  }}
{{ end }}
